html,
body,
#map-container,
#map,
.container-fluid,
.container-fluid>.row,
.container-fluid>.row .menu {
    height: 100%;
}

.menu-toggle {
    position: absolute;
    top: 100px;
}

.menu-toggle .btn.btn-default {
    border-radius: 0;
    border-left: 0;
}