html,
body,
#map,
.container-fluid,
.container-fluid>.row,
.container-fluid>.row .menu {
    height: 100%;
}

#menu {
    position: absolute;
    height: 100%;
    z-index: 1;
    background-color: white;
    border-right: 1px solid #ccc;
    transition: 2s linear all;
}

#menu .menu-container {
    display: none;
}

.menu-visible #menu .menu-container {
    width: 300px;
    padding: 15px;
    display: block;
    height: 100%;
    overflow-y: scroll;
}

#menu .menu-toggler {
    position: absolute;
    right: -39px;
    top: 100px;
}

#menu .menu-toggler button,
#menu .menu-toggler button:active {
    background-color: white;
    border-radius: 0;
    border-left: 0;
    outline: 0;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    cursor: pointer;
    margin: 15px 0;
}

.cafe-info-window img {
    margin-bottom: 15px;
}